[Unit]
Description=Port Locker Service
After=network.target firewalld.service

[Service]
Type=forking
ExecStart=/etc/plock/plock.sh start
ExecStop=/etc/plock/plock.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
